<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="last">
		<link rel="stylesheet" type="text/css"
			href="../resources/css/estilos.css" />
	</f:facet>
</h:head>
<h:body>
	<ui:composition>
		<div class="ui-g">
			<div class="ui-g-12 menuGeneral">
				<p:menubar styleClass="ui-menuitem-text ui-menubar">
					<p:menuitem styleClass="menuitem" value="Home" action="index" />

					<p:menuitem styleClass="ui-menuitem-text" value="Opcion"
						update="contenidoLayout"
						title="otra opcion" />

					<p:submenu label="Vistas">
						<p:menuitem styleClass="ui-menuitem-text" value="ver vista 1"
							ajax="true" update="contenidoLayout" 
							outcome="vista1"
							title="Esta opción permite ver la vista 1, invocando a vista1.xhtml"/>

						<p:menuitem styleClass="ui-menuitem-text" value="ver vista 2"
							ajax="true" update="contenidoLayout" 
							outcome="vista2"
							title="Esta opción permite ver la vista 2, invocando a vista2.xhtml"/>

					</p:submenu>
				</p:menubar>
			</div>
		</div>
	</ui:composition>
</h:body>
</html>