<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
	 <h:form id="formSession"> 
		<div class="ui-g">
		 <div class="ui-g-11 right" style="padding-right: 50px">
		  <nav>	
			  <div class="ui-g">
			  	<div class="ui-g-6 ui-g-nopad left">
			  		<h:outputText value="Bienvenid@ : usuario | Nombre Usuario"
							styleClass="left"/>
				</div>
				<div class="ui-g-6 ui-g-nopad right">
			  		<h:commandLink 	 style="height: 28px" styleClass="right" > 
							<h:outputText styleClass="fa fa-sign-out" style="width:30px;color:white"/>
					</h:commandLink>
				</div>
			  </div>
			</nav>
		  </div>
		</div>
	</h:form>	
</ui:composition>