<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:composite="http://java.sun.com/jsf/composite"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
<ui:composition template="/layouts/layout.xhtml">

	<ui:param name="showMenu" value="false"/>
	
	<ui:define name="content">
		<h:form id="formIndex">
			<p:growl id="msgs" showDetail="true" />		
		</h:form>
    </ui:define>
    
    
</ui:composition>
</html>

