<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/layouts/layout.xhtml">
	<ui:define name="content">
		<h:form id="vista2Form">
			<p:growl id="msg" showDetail="true" redisplay="false" />
			<p:panel header="Titulo de Vista 2"
				style="margin:5px;font-size:14px">
				
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>

</html>