<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/layouts/layout.xhtml">
	<ui:define name="content">
		<h:form id="vista1Form">
			<p:growl id="msg" showDetail="true" redisplay="false" />

			<p:panel style="font-size:12px;height: 100%;width:100%;">

				<p:dataTable id="singleDT" var="car" value="#{vista1ViewBean.cars2}"
					selectionMode="single" selection="#{vista1ViewBean.selectedCar}"
					rowKey="#{car.id}">
					<f:facet name="header">
			            Single with Row Click
			        </f:facet>
					<p:column headerText="Id">
						<h:outputText value="#{car.id}" />
					</p:column>
					<p:column headerText="Year">
						<h:outputText value="#{car.year}" />
					</p:column>
					<p:column headerText="Brand">
						<h:outputText value="#{car.brand}" />
					</p:column>
					<p:column headerText="Color">
						<h:outputText value="#{car.color}" />
					</p:column>
					<f:facet name="footer">
						<p:commandButton process="singleDT" update=":vista1Form:carDetail"
							icon="pi pi-search" value="View"
							oncomplete="PF('carDialog').show()" />
					</f:facet>
				</p:dataTable>

			</p:panel>

			<p:dialog header="Car Info" widgetVar="carDialog" modal="true"
				showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="carDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty vista1ViewBean.selectedCar}"
						columnClasses="label,value">
						<f:facet name="header">
							
						</f:facet>

						<h:outputText value="Id:" />
						<h:outputText value="#{vista1ViewBean.selectedCar.id}" />

						<h:outputText value="Year" />
						<h:outputText value="#{vista1ViewBean.selectedCar.year}" />

						<h:outputText value="Color:" />
						<h:outputText value="#{vista1ViewBean.selectedCar.color}"
							style="color:#{vista1ViewBean.selectedCar.color}" />

						<h:outputText value="Price" />
						<h:outputText value="$#{vista1ViewBean.selectedCar.price}" />
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>