<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{config.name} - #{config.version}</title>
	
		<link rel="stylesheet" type="text/css" href="../resources/css/estilos.css"/>
		<link rel="stylesheet" type="text/css" href="../resources/css/admin.css"/>
		<h:outputScript name="js/funciones.js"></h:outputScript>
	
</h:head>
<h:body styleClass="background">
	<!--  == Cabecera == -->
	<h:form id="generalForm">
		<p:growl id="msgs" showDetail="true" />
		
		<ui:include src="/includes/top-menu.xhtml"/>
		<ui:include src="/includes/menu.xhtml"/>
		
	</h:form>
	<!-- == Fin Cabecera == -->
	
	<h:panelGroup id="contenidoLayout">
		<ui:insert name="content"/>
	</h:panelGroup>
	
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" 
				draggable="false" closable="false" resizable="false">
	    <h:graphicImage value="/images/loading-200px.gif" />
	</p:dialog>
		
	<script type="text/javascript">
	    //<![CDATA[
		function start() { PF('statusDialog').show(); }
			 
		function stop() { PF('statusDialog').hide(); }
		    //]]>
	</script> 

	<footer>
		  <div class="ui-g">
			<div class="ui-g-6">
				<a target="_blank" href="#">
					Copyright (C) 2020 - Conseres 
				</a>
			</div>
			<div  class="ui-g-6 right hidden-xs" style="color: gray">
				<i>1.0.0</i>
			</div>
		  </div>
	</footer>
	
</h:body>
</html>
