.usuario {
	float: left;
	color: white;
	padding-top: 2.9%;
}

.skin-blue .content-header {
	text-align: center;
}

.content-header>h1 {
	font-weight: 600;
}

.ui-datatable .ui-datatable-header {
	text-align: right !important;
}

.menu-user-logout {
	padding-right: 10px;
	padding-left: 60%;
	padding-right: 5%;
}

#layout-menu_menu {
	z-index: 9997 !important;
}

#layout-menu_menu span.ui-menuitem-text {
	margin-left: 2px;
}

.headerDT {
	float: left;
	font-size: 14px;
	font-weight: 600;
}

.panelDT {
	background-color: grey !important;
	color: white !important;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 42px;
	margin-top: -3px !important;
}

.ui-panel.ui-widget .ui-panel-titlebar {
	width: 100%;
	padding: 0 !important;
}

.content-header {
	display: none;
}

.panel-header {
	display: inline-table;
	width: 97%;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: 700;
}

.ui-panel.ui-widget .ui-panel-titlebar {
	text-align: center;
}

.welcometitle {
	text-align: center;
	font-weight: 700;
}

.secundary {
	border-top: 1px solid #3c8dbc !important;
}

div.ui-panel .ui-panel-title {
	width: 100%;
}

.button-action-panel {
	float: right;
	width: 30px;
	height: 22px;
}

.principal-panel {
	position: fixed;
	overflow: auto;
}

.ui-widget-overlay {
	filter: alpha(opacity = 80);
	opacity: 0.8;
}

div.ui-message-error {
	background-color: white;
	color: black;
	min-height: 30px;
	z-index: 50000000;
	position: absolute;
	margin-top: 1.3%;
	margin-left: -11%;
	padding: 10px;
	box-shadow: 2px 1px rgb(184, 187, 173, 0.6);
}

span.ui-message-error-icon:before {
	background-color: #E9BE1E;
	padding: 3px;
}

body .ui-state-error, body .ui-widget-content .ui-state-error, body .ui-widget-content ui-state-default.ui-state-error,
	body .ui-widget-header .ui-state-error, body div.ui-selectonemenu.ui-state-error,
	body div.ui-fluid div.ui-selectonemenu.ui-state-error, body .ui-selectcheckboxmenu-multiple-container.ui-state-error,
	body div.ui-fluid div.ui-selectonemenu.ui-state-error.ui-state-focus,
	body .form-control .ui-state-error {
	border: 1px solid #17a2b8;
	color: black;
	
}

.ui-inputfield.ui-state-focus.ui-state-error, .ui-widget-content .ui-inputfield.ui-state-focus.ui-state-error, .ui-widget-header .ui-inputfield.ui-state-focus.ui-state-error{
	border-color:#17a2b8;
	color: black;
}

span{
	border:0 !important;
}

.input-grid{
	margin-top:5% !important;
	float:left;
}

.panelGrid{
	width:100%;
}

.panelGridCols{
	padding-left: 10px !important;
	text-align:right;
}

div.ui-panel .ui-panel-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    color: white;
    font-weight: 500;
    padding-top:0.5%;
    padding-bottom:0.5%;
    background-color: gray;
    min-height:30px;
}

.ui-widget-header {
    color: white;
    border: 1px solid #e2e2e2;
    background-color: gray;
    font-weight: 500;
}
.ui-datatable-scrollable-header{
	background-color: white;
}

.panel-no-action
{
	margin-top: 0.15%;
    margin-bottom: 0.15%;
}

.header-action-b{
	width: 30px !important;
	height: 22px !important;
}

.header-action-d{
	float:right;
	display:flex;
}

.panelGridTitle {
	font-size: 16px;
	margin: 0;
	line-height: 1;
	color: white;
	font-weight: 500;
	padding: 5px 5px;
}

div.ui-panel .ui-panel-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    color: #444;
    font-weight: 500;
    padding: 2px 5px !important;
}

body .ui-datatable th[role="columnheader"].ui-state-default, body .ui-treetable th[role="columnheader"].ui-state-default {
    
    padding: 3px 5px !important;
}

.labelTitle{
	margin:0px !important;
	text-align: left;	
}


div.ui-selectonemenu, div.ui-fluid div.ui-selectonemenu, div.ui-selectcheckboxmenu, div.ui-fluid div.ui-selectcheckboxmenu {
    height: 26px !important;
}

.labelValue {
	color: gray;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 8px;
}

.panelTitle{
	color: white;
	font-size: 16px !important;
	font-weight: bold;
}

div.ui-panel .ui-panel-content {
    padding: 0px 5px !important;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px !important;
    border-style: hidden !important;
    border-color: transparent !important;
    padding: 1px 1px;
}


/**
*Esto arregla el problema del doble titulo en el dataTable
*/
.ui-datatable-scrollable-theadclone {
	visibility: hidden;
}

/*!
*Para poder modificar el width del autocomplete fue necesario modificar estas
* 2 propiedades a continuacion ui-inputfield  y ui-autocomplete  
*/
.ui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px 0px !important;   
    font-weight: normal;
    width: 100% !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    line-height: 1.72;
    padding: 0px 3px !important;
    background-color: white;
}

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"],input[readonly] {
    color: black !important;
    background-color: #eee !important;
    opacity: 50% !important;
}

.ui-autocomplete {
	padding-top: 0px !important;
	width: 100% !important;
}

.databox{
	padding-top: 15px !important;
}

.ui-float-label{
	padding-top: 10px !important;
}

.panelGrid-10 {
	padding-left: 10px !important;
	width: 10% !important;
}

.panelGrid-20 {
	padding-left: 10px !important;
	width: 20% !important;
}

.panelGrid-30 {
	padding-left: 10px !important;
	width: 30% !important;
}

.panelGrid-40 {
	padding-left: 10px !important;
	width: 40% !important;
}

.panelGrid-50 {
	padding-left: 10px !important;
	width: 50% !important;
}

.panelGrid-60 {
	padding-left: 10px !important;
	width: 60% !important;
}

.panelGrid-70 {
	padding-left: 10px !important;
	width: 70% !important;
}

.panelGrid-80 {
	padding-left: 10px !important;
	width: 80% !important;
}

.panelGrid-90 {
	padding-left: 10px !important;
	width: 90% !important;
}

.panelGridCols-title-5 {
	padding-left: 10px !important;
	width: 5% !important;
	text-align: right !important;
}

.panelGridCols-value-5 {
	padding-left: 10px !important;
	width: 5% !important;
	text-align: left !important;
	color: gray;
}


.panelGridCols-title-10 {
	padding-left: 10px !important;
	width: 10% !important;
	text-align: right !important;
}

.panelGridCols-value-10 {
	padding-left: 10px !important;
	width: 10% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-20 {
	padding-left: 10px !important;
	width: 20% !important;
	text-align: right !important;
}

.panelGridCols-value-20 {
	padding-left: 10px !important;
	width: 20% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-25 {
	padding-left: 10px !important;
	width: 25% !important;
	text-align: right !important;
}

.panelGridCols-value-25 {
	padding-left: 10px !important;
	width: 25% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-30 {
	padding-left: 10px !important;
	width: 30% !important;
	text-align: right !important;
}

.panelGridCols-value-30 {
	padding-left: 10px !important;
	width: 30% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-40 {
	padding-left: 10px !important;
	width: 40% !important;
	text-align: right !important;
}

.panelGridCols-value-40 {
	padding-left: 10px !important;
	width: 40% !important;
	text-align: left !important;
	color: gray;
}


.panelGridCols-title-50 {
	padding-left: 10px !important;
	width: 50% !important;
	text-align: right !important;
}

.panelGridCols-value-50 {
	padding-left: 10px !important;
	width: 30% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-60 {
	padding-left: 10px !important;
	width: 60% !important;
	text-align: right !important;
}

.panelGridCols-value-60 {
	padding-left: 10px !important;
	width: 60% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-70 {
	padding-left: 10px !important;
	width: 70% !important;
	text-align: right !important;
}

.panelGridCols-value-70 {
	padding-left: 10px !important;
	width: 70% !important;
	text-align: left !important;
	color: gray;
}

.panelGridCols-title-80 {
	padding-left: 10px !important;
	width: 80% !important;
	text-align: right !important;
}

.panelGridCols-value-80 {
	padding-left: 10px !important;
	width: 80% !important;
	text-align: left !important; 
	color: gray;
}


.panelGridCols-title-90 {
	padding-left: 10px !important;
	width: 90% !important;
	text-align: right !important;
}

.panelGridCols-value-90 {
	padding-left: 10px !important;
	width: 90% !important;
	text-align: left !important;
	color: gray;
}

