
nav{	
	position: fixed;
	width: 99%;
	height: 50px;
	background-color:#3276D6;	
	color: white;
	padding-top: 12px;
	font-weight: bold;
	font-size: 16px;	
}

footer{
	position: fixed;
	width: 99%;
	bottom: 0;
}

.menuGeneral {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 45px !important;
    width: 100% !important;
    padding-bottom: 5px !important;
 }
 
 .ui-menubar, .ui-menu-child, .ui-menu {
	background: #004e8e !important;
	padding-top: 0px !important;
    width: 100%;
}

.ui-menuitem-text, .ui-menuitem-icon {
	color: #fff;
}

.ui-menuitem-active > .ui-menuitem-text {
	color: #fff;
}

.ui-menuitem-active > .ui-menu-child > .ui-menuitem-text {
    color: #fff !important;
}

.center{	
	text-align: center !important;
	vertical-align: middle;
}

.left {
	text-align: left !important;
	padding-left: 10px;
}

.right{
	text-align: right !important;
	padding-right: 10px;
}

.right-col{
	text-align: right !important;
	float: right !important;
}

.left-col{
	text-align: left !important;
	float: left !important;
}

.background{
	background-color: #F4F0FE;
}

.colorHeader{
	background-color: grey !important;
	color:white;
	font-size: 14px;
}
